* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECF0F1;
}

header h1 {
    color: #1a1a1a;
}

header p {
    color: #2e3b47;
}

header {
    width: 100%;
    height: 7.5rem;
    background-color: #5994b6;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#textoPrincipalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 380px;
}

#navegacaoHeader {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#navegacaoHeader div {
    background-color: #383838 ;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;

}

#navegacaoHeader div:hover {
    cursor: pointer;
    background-color: #1a1a1a ;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0.2);

}

#navegacaoHeader div a {
    color: rgb(255, 255, 255);

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 130vh;
    width: 100%;
    gap: 30px;
}

#sectionImportanciaDev {
    background-color: #ffffff;
    width: 70%;
    max-height: 50rem;
    border-radius: 20px;
}

#importanciaH1 {
    color: #1a1a1a;
    height: 5rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 40px;
}

#importanciaP {
    color: #2e3b47;
    height: 80%;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 23px;
}

#importanciaP p {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #ffffff;
    height: 8rem;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#senai {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textosFinais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#devs {
    border-radius: 20px;
}